// source: http://thecodeplayer.com/walkthrough/css3-family-tree

//@import 'compass/reset';
@import 'compass/css3';
@import 'breakpoint';
@import 'singularitygs';

$connect-line-height: 20px;
$connect-side-spacing: 5px;
$border-styling: 1px solid blue;
$corner-radius: .3em;

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin li-before-after(){
  content: '';
  position: absolute;
  top: 0;
  left: auto;
  right: 50%;
  width: 50%;
  height: $connect-line-height;

}

.flowchart * {
  margin: 0;
  padding: 0;
  direction: rtl;
}

.flowchart ol {
  position: relative;
  text-align: center;
}


.flowchart ol > li {
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: $connect-line-height 0 0;
  overflow: hidden;
}

.flowchart ol li ol {
  width: 50%;
  left: 0;
  position: relative;
}

.flowchart ol > li::before,
.flowchart ol > li::after {
  content: "";
  @include li-before-after();
}

// default LI: straight line up
.flowchart ol > li::before{
  content: "";
  border-right: $border-styling;
}

/// ORDRED-WITHIN-ORDERED

// START: TOP of ordered-within-ordered
.flowchart ol ol > li:first-child{
  padding-top: $connect-line-height*2;
}
.flowchart ol ol > li:first-child::before {
  content: "";
  top: $connect-line-height;
  @include border-radius($corner-radius 0 0 0);
}
.flowchart ol ol > li:first-child::after {
  content: "";
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  @include border-radius(0 0 $corner-radius 0);
  left: 0;
  right: auto;
  // TODO: calculate proper width for this item...
  @include calc( width, "50% - #{$corner-radius * 1}");
}
// END: TOP of ordered-within-ordered

// START: BOTTOM of ordered-within-ordered
.flowchart ol ol > li:last-child{
  padding-bottom: $connect-line-height;
}

.flowchart ol ol > li:last-child::after {
  content: "";
  bottom: $connect-line-height;
  top: auto;
  bottom: 0;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  @include border-radius(0 0 0 $corner-radius);
}
// END: BOTTOM of ordered-within-ordered

// UNORDERED LISTS
.flowchart ul {
  padding-top: 20px;
  position: relative;
}

.flowchart li > ul::before,
.flowchart li > ul::after {
  @include li-before-after();
}

// sub UL: straight line up
.flowchart li > ul{
  padding-top: $connect-line-height*2;
  width: 50%;
  left: 0;
}
.flowchart li > ul::before{
  content: "";
  right: auto;
  left: 0;
  border-left: $border-styling;
  width: 25%;
}
.flowchart li > ul::after{
  content: "";
  right: auto;
  left: 0;
  border-right: $border-styling;
  border-top: $border-styling;
  top: $connect-line-height;
  width: 25%;
}

.flowchart ul li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: $connect-line-height $connect-side-spacing 0;

}

// We will use ::before and ::after to draw the connectors

.flowchart ul li::before,
.flowchart ul li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}

.flowchart ul li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

// We need to remove left-right connectors from elements without any siblings

.flowchart ul li:only-child::after,
.flowchart ul li:only-child::before {
  content: "";
  display: none;
}

// Remove space from the top of single children
.flowchart ul li:only-child {
  padding-top: 0;
}

// Remove left connector from first child and right connector from last child
.flowchart ul li:first-child::before,
.flowchart ul li:last-child::after {
  content: "";
  border: 0 none;
}

// Adding back the vertical connector to the last nodes
.flowchart ul li:last-child::before {
  content: "";
  border-right: 1px solid #ccc;
  @include border-radius(0 5px 0 0);
}

.flowchart ul li:first-child::after {
  content: "";
  @include border-radius(5px 0 0 0);
}

// Time to add downward connectors from parents
.flowchart ul ul::before {
  content: "";
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}

.flowchart ul li a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;

  @include border-radius(5px);

  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
}

// Time for some hover effects
// We will apply the hover effect the the lineage of the element also
.flowchart ul li a:hover,
.flowchart ul li a:hover+ul li a {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}

// Connector styles on hover
.flowchart ul li a:hover+ul li::after,
.flowchart ul li a:hover+ul li::before,
.flowchart ul li a:hover+ul::before,
.flowchart ul li a:hover+ul ul::before {
  border-color: #94a0b4;
}




// Styling the content
.flowchart li span {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  @include border-radius($corner-radius);
}
